<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crystal.contact">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity
            android:name=".activity.MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity android:name=".activity.OnlineService"
            android:label="在线客服"/>
        <activity android:name=".activity.PointsMall"
            android:label="积分商城"/>
        <activity android:name=".activity.Proposal"
            android:label="投诉建议"/>
        <activity android:name=".activity.SentRecords"
            android:label="寄件记录"/>
        <activity android:name=".activity.TransactionRecord"
            android:label="交易记录"/>
        <activity android:name=".activity.MessageList"
            android:label="消息"/>




    </application>



</manifest>